{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Beer Bike{% endblock %}
{% block body %}
  <div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <br/>
          {{ utils.flashed_messages() }}
          <br/>
          <h1 style="text-align:center;">Beer Bike FSP Jobs</h1>
          {% if bikes %}
            <hr class="intro-divider">
            <div class="center">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="20%"; style="text-align:center"> Job Name </th>
                    <th width="27%"; style="text-align:center"> Description </th>
                    <th width="10%"; style="text-align:center"> Date </th>
                    <th width="10%"; style="text-align:center"> Start </th>
                    <th width="10%"; style="text-align:center"> End </th>
                    <th width="10%"; style="text-align:center"> FSP </th>
                    <th width="12%"; style="text-align:center"> # People </th>
                    <th width="9%"; style="text-align:center"> Duplicate </th>
                    <th width="9%"; style="text-align:center"> Edit </th>
                    <th width="12%"; style="text-align:center"> Delete </th>
                  </tr>
                </thead>
                <tbody>
                  {% for bike in bikes %}
                    <tr>
                      <td> {{ bike.name }} </td>
                      <td> {{ bike.description }} </td>
                      <td> {{ bike.date }} </td>
                      <td> {{ bike.start }} </td>
                      <td> {{ bike.end }} </td>
                      <td> {{ bike.fsp }} </td>
                      <td> {{ bike.numPeople }} </td>
                      <td>
                        <a href="{{ url_for('admin.duplicate_bike', id=bike.id) }}">
                          <i class="fa fa-copy"></i> Duplicate
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('admin.edit_bike', id=bike.id) }}">
                          <i class="fa fa-pencil"></i> Edit
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('admin.delete_bike', id=bike.id) }}">
                          <i class="fa fa-trash"></i> Delete
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="text-align: center">
            {% else %}
              <div style="text-align: center">
                <h3> No Beer Bike Jobs have been added. </h3>
                <hr class="intro-divider">
              {% endif %}
              <a href="{{ url_for('admin.add_bike') }}" class="btn btn-default btn-lg">
                <i class="fa fa-beer"></i>
                Add Beer Bike Job
              </a>
              <a href="{{ url_for('admin.points_bike') }}" class="btn btn-default btn-lg">
                <i class="fa fa-gavel"></i>
                Give Job Points
              </a>
              <a href="{{ url_for('admin.list_sentout_but_not_assigned_bike') }}" class="btn btn-default btn-lg">
                <i class="fa fa-gavel"></i>
                List Jobs Sent Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}