{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_freshman %}
        Add New Student
    {% else %}
        Edit New Student
    {% endif %}
{% endblock %}
{% block body %}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="center">
                        {% if add_freshman %}
                            <h1>Add New Student</h1>
                        {% else %}
                            <h1>Edit New Student</h1>
                        {% endif %}
                        <br/>
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}