{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Freshmans{% endblock %}
{% block body %}
  <div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <br/>
          {{ utils.flashed_messages() }}
          <br/>
          <h1 style="text-align:center;">New Students!!</h1>
          {% if freshman %}
            <hr class="intro-divider">
            <div class="center">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="20%"; style="text-align:center"> Name </th>
                    <th width="27%"; style="text-align:center"> NetID </th>
                    <th width="27%"; style="text-align:center"> FSP </th>
                  </tr>
                </thead>
                <tbody>
                  {% for fresh in freshman %}
                    <tr>
                      <td> {{ fresh.name }} </td>
                      <td> {{ fresh.netID }} </td>
                      <td> {{ fresh.fsp }} </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="text-align: center">
            {% else %}
              <div style="text-align: center">
                <h3> No new students have been added. </h3>
                <hr class="intro-divider">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}